<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ESP32</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <h1>ESP32 Console</h1>
      <a
        href="https://segmentosedatagramas.wordpress.com/2015/11/17/comandos-basicos-para-switches-cisco/"
        target="_blank"
      >
        <img
          class="switch"
          src="{{ url_for('static', filename='image/switch.jpg') }}"
          alt="Switch Cisco"
        />
      </a>
    </div>

    <div class="put">
      <div class="operation">
        <label for="ip-input"> ESP32 IP:</label>
        <input type="text" id="ip-input" placeholder="192.168.x.x" />
        <button id="connect">Conectar</button>
        <button id="disconnect">Desconectar</button>
      </div>

      <!-- NOVO TERMINAL -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <div class="terminal">
        <div id="history"></div>
        <input id="input" type="text" autocomplete="off">
      </div>
      <!-- FIM TERMINAL -->
    </div>

    <div class="footer">
      <div class="footer-left">
        <h2>Redes de Computadores</h2>
        <p>CTISM - Colégio Técnico Industrial de Santa Maria</p>
        <div>
          <a
            href="https://www.ufsm.br/unidades-universitarias/ctism"
            target="_blank"
          >
            <img
              class="footer-img"
              src="{{ url_for('static', filename='image/CTISM_horizontal_preto.png') }}"
              alt="CTISM"
            />
          </a>
          <a href="https://www.ufsm.br/" target="_blank">
            <img
              class="footer-img"
              src="{{ url_for('static', filename='image/UFSM_principal_solido-preto.png') }}"
              alt="UFSM"
            />
          </a>
          <a
            href="https://www.ufsm.br/cursos/graduacao/santa-maria/tecnologia-em-redes-de-computadores"
            target="_blank"
          >
            <img
              class="footer-img"
              src="{{ url_for('static', filename='image/images.png') }}"
              alt="Curso Redes"
            />
          </a>
        </div>
      </div>

      <div class="footer-right">
        <div class="coordinator">
          <h4>Coordenador/Colaborador</h4>
          <p id="rafa">RAFAEL TEODÓSIO PEREIRA (C)</p>
          <p>RENATO PREIGSCHADT DE AZEVEDO</p>
          <p>SIMONE REGINA CEOLIN</p>
        </div>
        <div class="holder">
          <h4>Bolsistas</h4>
          <p>LORENZO MICHELOTTI PALMA</p>
          <p>GUILHERME FEREIRA DA SILVA</p>
        </div>
      </div>
    </div>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
